@inherits UmbracoViewPage<Aubergine.Forums.Models.ForumPostViewModel>
@using Aubergine.Forums
@using ClientDependency.Core.Mvc;
@{
    Html.RequiresJs("~/scripts/tinymce/tinymce.min.js");
    Html.RequiresJs("~/scripts/aubergine-forums.js");

    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<ForumsController>("AddPost", null,
                new { @class = "form aub__forum-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <legend>@Umbraco.If(Model.ShowTitle, "Post" , "Reply")</legend>
        @if (Model.ShowTitle)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        }

        <div class="form-group">
            @Html.TextAreaFor(m => m.Body, 10, 10, new { @class="form-control"})
            @Html.ValidationMessageFor(m => m.Body)
        </div>

        @Html.HiddenFor(m => m.ContentKey)
        @Html.HiddenFor(m => m.ParentKey)
        @Html.HiddenFor(m => m.Key)


        <div class="text-center">
            <input type="submit" class="btn btn-lg btn-primary" value="Post" />
        </div>
    </fieldset>
}
