@inherits UmbracoViewPage<IPublishedContent>
@using Aubergine.Blog
@{ 
    var root = Model;
    var postCount = root.GetPropertyValue<int>(Properties.PostsPerPage, true, 20);

    var selection = root.Descendants(DocTypes.BlogPost)
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.GetPropertyValue<DateTime>(Properties.PublishDate, x.CreateDate));
}

@if (selection.Any())
{
    <div class="aub__blog-listing">
        @foreach (var post in selection.Take(postCount))
        {
            var postDate = post.GetPropertyValue<DateTime>(Properties.PublishDate, post.CreateDate);
            <div class="blog-post">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="post-meta">
                            <div class="post-date">
                                @postDate.ToString("dd MMMM yyyy")
                            </div>
                            <p class="post-author">by <a href="#">@post.WriterName</a>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <a href="@post.Url" class="post-title">
                            <h2>@post.GetPropertyValue("title", post.Name)</h2>
                        </a>
                        <div class="post-body">
                            @post.GetPropertyValue("summary", post.GetPropertyValue("content", ""))
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
