@inherits UmbracoViewPage<IPublishedContent>
@using Aubergine.Blog
@{
    // the blog post
    var post = Model;
    var postDate = post.GetPropertyValue<DateTime>(BlogPresets.Properties.PublishDate, post.CreateDate);
}

<div class="blog-post">
    <div class="row">
        <div class="col-sm-2">
            <div class="post-meta">
                <div class="post-date">
                    @postDate.ToString("dddd")<br />
                    @postDate.ToString("d MMMM yyyy")
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <a href="@post.Url" class="post-title">
                <h2>@post.GetPropertyValue("title", post.Name)</h2>
                <p class="post-author">by <a href="#">@post.WriterName</a>
</a>
            <div class="post-body">
                @post.GetPropertyValue("summary", post.GetPropertyValue("content", ""))
            </div>

            <div class="post-footer">
                <span class="post-tags">
                    @post.the_tags(BlogPresets.Properties.Tags)
                </span>
            </div>

            <div class="post-comments">
                @Html.Partial("Comments/ShowComments")
            </div>
        </div>
    </div>
</div>

