@inherits UmbracoViewPage<Aubergine.Auth.Models.AubForgotPasswordModel>
@using Aubergine.Auth
@{ 
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}


@if (Request.HttpMethod == "POST" && ViewData.ModelState.IsValid)
{
    <h2>Request Sent</h2>
    <p>
        We have sent you an email, with details of how to reset your password
    </p>

    return;
}

@using (Html.BeginUmbracoForm<AuthenticationController>("ForgotPassword", null,
            new { @class = "form aub__auth-form aub__auth-forgot-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Forgot your password ?</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>

        <div>
            <input type="submit" value="Send reset request"
                   class="btn btn-lg btn-primary" />
        </div>
    </fieldset>
}