@inherits UmbracoViewPage<Aubergine.Auth.Models.AubLoginViewModel>
@using Aubergine.Auth
@{ 
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary()
}

@using (Html.BeginUmbracoForm<AuthenticationController>("Login", null, new { @class = "form" }))
{

    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Login</legend>

        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        @Html.HiddenFor(m => m.ReturnUrl)

        <div>
            <input type="submit" class="btn btn-lg btn-primary" value="Login" />
        </div>
    </fieldset>
}
