@inherits UmbracoViewPage<IPublishedContent>
@using ClientDependency.Core.Mvc
@using Aubergine.UserContent
@using Aubergine.Comments;
@using Umbraco.Core.Models.PublishedContent
@{
    Html.RequiresCss("~/css/aubergine-comments.css");

    var comments = Model.GetUserContent(Comments.UserContentType, Comments.Instance);
    if (comments != null)
    {
        <div class="aub__comments">
            <div class="comment-count">@comments.Count() comments</div>

            @foreach (var comment in comments)
            {
                <div class="aub__comment" id="comment_@comment.Key.ToString()">
                    <h4>
                        <a href="mailto:@comment.GetPropertyValue("Email", "")">
                            @if (comment.HasProperty("Name"))
                            {
                                @comment.GetPropertyValue("Name", "")
                            }
                        </a>
                    </h4>
                    <div class="aub__comment-body">
                        @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(comment.GetPropertyValue<string>("Comment", "")))<br />
                    </div>

                    <div class="aub__comment-meta">@comment.CreatedDate 
                        <a href="#comment_@comment.Key.ToString()" title="permalink to comment"><i class="glyphicon glyphicon-link"></i></a></div>
                </div>
            }
        </div>
    }
}

@if (Model.GetPropertyValue<bool>("allowComments", false, false))
{
    @Html.Action("Comment", "Comments", new { area = "AubergineComments" })
}
else
{
    <div class="aub__comments-closed">Comments are closed for this post</div>
}